:root {
  --animation-time: 0.5s;
  --starting-position: 50vw;
  --starting-delay: 0.5s;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #04040e;
  position: relative;
  width: 100vw !important;
}
body .snow-wrapper {
  display: flex;
  position: relative;
  z-index: 2;
}
body .snow-wrapper .snowFlake {
  font-size: 5pt;
  animation: snowFall linear infinite;
  animation-duration: 1s;
  transition: 0.3;
}
body .snow-wrapper .randomSnowflake, body .snow-wrapper .randomSnowflake2, body .snow-wrapper .randomSnowflake3, body .snow-wrapper .randomSnowflake4, body .snow-wrapper .randomSnowflake5, body .snow-wrapper .randomSnowflake6.randomSnowflake7, body .snow-wrapper .randomSnowflake8, body .snow-wrapper .randomSnowflake9, body .snow-wrapper .randomSnowflake10, body .snow-wrapper .randomSnowflake11, body .snow-wrapper .randomSnowflake12 {
  opacity: 0;
  font-size: 5pt;
  left: 4vw;
  position: absolute;
  animation: randomSnowFall 2s linear infinite forwards;
  animation-delay: 0.3s;
  transition: 0.3;
}
body .snow-wrapper .randomSnowflake2 {
  animation: randomSnowFall 1.3s linear infinite forwards;
  animation-delay: 0.6s;
  left: 15vw;
}
body .snow-wrapper .randomSnowflake3 {
  animation: randomSnowFall 2s linear infinite forwards;
  animation-delay: 0.9s;
  left: 25vw;
}
body .snow-wrapper .randomSnowflake4 {
  animation: randomSnowFall 1.5s linear infinite forwards;
  animation-delay: 0.5s;
  left: 36vw;
}
body .snow-wrapper .randomSnowflake5 {
  animation: randomSnowFall 2.2s linear infinite forwards;
  animation-delay: 0.1s;
  left: 45vw;
}
body .snow-wrapper .randomSnowflake8 {
  animation: randomSnowFall 2s linear infinite forwards;
  animation-delay: 0.5s;
  left: 56vw;
}
body .snow-wrapper .randomSnowflake9 {
  animation: randomSnowFall 1.6s linear infinite forwards;
  animation-delay: 0.1s;
  left: 67vw;
}
body .snow-wrapper .randomSnowflake10 {
  animation: randomSnowFall 2.1s linear infinite forwards;
  animation-delay: 0.8s;
  left: 70vw;
}
body .snow-wrapper .randomSnowflake11 {
  animation: randomSnowFall 1.8s linear infinite forwards;
  animation-delay: 0.3s;
  left: 80vw;
}
body .snow-wrapper .randomSnowflake12 {
  animation: randomSnowFall 2.6s linear infinite forwards;
  animation-delay: 0.9s;
  left: 91vw;
}
body .bg-container {
  position: absolute;
  width: 100% !important;
  height: auto;
  z-index: 1;
  overflow: hidden;
  /* Add hover styles to reveal the unblurred part of the image */
}
@media (min-width: 1400px) {
  body .bg-container {
    max-height: 100vh;
  }
}
@media (max-width: 970px) {
  body .bg-container {
    height: 100%;
  }
}
body .bg-container .bg-image {
  background-size: cover;
  width: 100%;
  filter: blur(15px) brightness(50%);
  transition: filter 0.3s ease-out;
}
@media (max-width: 970px) {
  body .bg-container .bg-image {
    width: auto;
  }
}
body .bg-container:hover .bg-image {
  filter: blur(0px) brightness(100%);
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #a1a1a1;
  color: #d1d1d1;
  outline: none;
}

.warning {
  border-bottom: 1px solid #e1ba0e;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

/* Fallback for other browsers */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

@keyframes snowFall {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(300px);
  }
}
@keyframes randomSnowFall {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(70vh);
  }
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #d1d1d1;
  padding-bottom: 6rem;
}
.main .houseIcon {
  margin-top: 3rem;
  font-size: 60pt;
  z-index: 1;
}
@media (max-width: 768px) {
  .main .houseIcon {
    font-size: 48pt;
  }
}
.main h1 {
  margin: 3rem 0 3rem;
  font-weight: 500;
  z-index: 1;
}
.main .main-content {
  z-index: 3;
  display: grid;
  grid-template-areas: "a b" "c c";
  box-shadow: rgba(17, 152, 129, 0.375) 0px 0px 15px 10px;
  background-color: rgba(3, 3, 3, 0.761);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .main .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.main .main-content .form-container {
  padding: 7% 12%;
}
.main .main-content .form-container h2 {
  margin: 2rem 0;
}
.main .main-content .form-container .house-form {
  font-size: 13pt;
  grid-area: a;
}
.main .main-content .form-container .house-form label {
  display: block;
  margin: 0.8rem 0;
}
.main .main-content .form-container .house-form span {
  font-size: 10pt;
}
.main .main-content .form-container .house-form input {
  display: block;
  margin: 0.8rem 0;
  width: 100%;
}
.main .main-content .form-container .budget-form {
  font-size: 13pt;
  grid-area: b;
}
.main .main-content .form-container .budget-form label {
  display: block;
  margin: 0.8rem 0;
}
.main .main-content .form-container .budget-form span {
  font-size: 10pt;
}
.main .main-content .form-container .budget-form input {
  display: block;
  width: 100%;
  margin: 0.8rem 0;
}
.main .main-content .form-container .budget-form .radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .main-content .form-container .budget-form .radio-container .btn-radio {
  flex: 1;
  text-align: center;
}
.main .main-content .form-container .budget-form .radio-container .radio-text {
  margin: 0 auto;
}
.main .main-content .result-container {
  grid-area: c;
  padding: 1rem 3rem 3rem;
  display: flex;
  flex-direction: column;
}
.main .main-content .result-container .btn-result {
  align-self: center;
  padding: 1rem;
  border-radius: 25px;
  width: 50%;
  background-color: #d8d8d8;
  border: 0;
  box-shadow: rgba(17, 152, 129, 0.375) 0px 0px 15px 8px;
  font-size: 14pt;
  font-weight: 500;
  transition: 0.2s;
}
.main .main-content .result-container .btn-result:hover {
  background-color: #1ad1bf;
}
.main .main-content .result-container .result-list {
  margin-top: 3rem;
  border-top: solid #a1a1a1 1px;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.main .main-content .result-container .result-list label {
  font-size: 16pt;
  margin: 1rem 0;
}
.main .main-content .result-container .result-list li {
  font-size: 15pt;
  color: #1ad1bf;
  font-style: italic;
}
.main p {
  margin-top: 3rem;
  text-align: center;
  z-index: 2;
}